.starting{
    background-color: #EAEAF4;
    height: 800px;
}
.googlefont{
    font-size: 30px;
    margin-top: 5px;
}
.nchekro{
    margin-top: 30px;
}

/* COntact page css is here  */

.mainpagehaicont{
background-color: #5100AE;
}
.contactpageh{
    margin: auto;
   height: auto;
   /* width: 90%; */
    border: 1px solid red;
    
}
.star{
    color: red;
    font-size: 14px;
    /* margin-top: -10px; */
}
/* Chat application styling  */
.fontshai{
font-size: 25px;
margin-top: 8px;
}
